{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center">
        <img src="" class="mt-3" alt="Logo">
    </div>

    <h1 class=" mb-5 text-center ">Mot de passe oublié ?</h1>
    <div class="row justify-content-center">
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger ">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="bloc-beige col-8 offset-2">
        <div class="form-row justify-content-center">
            {% if app.session.flashbag.peek('notice') %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% elseif app.session.flashbag.peek('wrong-notice') %}
                    {% for message in app.flashes('wrong-notice') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
            {% endfor %}
            {% else %}
                <div class="col-8">
                    {{ form_start(form) }}
                    <div class="mt-3 mb-3">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-row justify-content-center">
                        <button class="btn btn-lg base-btn mt-3" type="submit">
                            Valider
                        </button>
                    </div>
                    {{ form_end(form) }}
                    <div class="form-row justify-content-center mt-2">
                        <a class="txtItalic" href="{{path('app_login')  }}">Revenir sur l'interface de connexion</a>
                    </div>
                </div>
            {% endif %}
    </div>
    </div>
{% endblock %}