{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
    <h1 class=" mb-5 mt-5 text-center">Forgotten password ?</h1>
    <div class="row justify-content-center">
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger ">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="bloc-beige col-8 offset-2">
        <div class="form-row justify-content-center">
            {% if app.session.flashbag.peek('notice') %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% elseif app.session.flashbag.peek('wrong-notice') %}
                    {% for message in app.flashes('wrong-notice') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
            {% endfor %}
            {% else %}
                <div class="col-8">
                    {{ form_start(form) }}
                    <div class="mt-3 mb-3 text-center">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-row justify-content-center mt-4">
                        <button class="button_save_image" type="submit">
                            Validate
                        </button>
                    </div>
                    {{ form_end(form) }}
                    <div class="form-row justify-content-center mt-3">
                        <a class="txtItalic" href="{{path('app_login')  }}">Back to login</a>
                    </div>
                </div>
            {% endif %}
    </div>
    </div>
{% endblock %}